{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Band-Fan Login{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

<!-- Fix generating errors for invalid field submission-->

{% block page_content %}
<div class="container">

		<div class="col-lg-3 col-md-2 col-sm-2"></div>

		<div class="col-lg-6 col-md-8 col-sm-8 col-12 login-box">
			<div class="row">
				<div class="login-icon">
					<img src="{{ url_for('static', filename='icons/guitar-white.png') }}" class="pic-20"/>
				</div>
			</div>
			<div class="col-lg-12 login-title">Registration</div>

			<div class="col-sm-12 login-form">
				<form>

					<label class="form-control-label">EMAIL</label>
					{{ form.email(class_='form-control form-field') }}
					<label class="form-control-label">PASSWORD</label>
					{{ form.password(class_='form-control form-field') }} 
					<label class="form-control-label">CONFIRM PASSWORD</label>
					{{ form.password2(class_='form-control form-field') }}

					<div class="col-sm-12 login-button">
						{{ form.submit(class_='btn btn-login') }}
					</div>
				</form>
			</div>

		</div>
		<div class="col-lg-3 col-md-2 col-sm-2"></div>

</div>
{% endblock %}
