
$primary-white: #fff;
$primary-black: #000;

$band-black: #242224;
$band-white: #f4f0f8;
$band-green: #6ec878;
$band-gray: #564654;
$band-link: #6e97c8;
$band-link-visited: #5d7b9e;

$app-black: #242224;
$app-white: #f4f0f8;
$app-green: #6ec878;
$app-gray: #564654;
$app-link: #6e97c8;
$app-link-visited: #5d7b9e;

$load-black: #242224;
$load-red: #D70E26;
$load-orange: #ffb328;
$load-yellow: #f7f731;
$load-green: #019829;
$load-blue: #3468E9;
$load-purple: #d50ee3;
$load-white: #f4f4f4;