$primary-white: #fff;
$primary-black: #000;

$app-black: #242224;
$app-white: #f4f0f8;
$app-green: #6ec878;
$app-gray: #564654;
$app-link: #9edba5;
$app-link-visited: #6ec878;
/*
	$app-link: #6e97c8;
	$app-link-visited: #5d7b9e;
 */

