@use "color";

body {
    background: color.$app-black;
    color: color.$app-green;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.header {
    margin-top: calc(12px + (80 - 12) * ((100vw - 520px) / (1600 - 520)));
}

.login-button {
    padding: 0;
    padding-left: 8px;
    display: flex;
}

@media (max-width:767.98px) {
    .login-button {
        padding-top: 16px;
        display: flex;
        align-items: center; /* align vertical */
        justify-content: center; /* align horizontal */
    }
}

.btn-login {
    background: color.$app-black;
    border-color: color.$app-green;
    border-radius: 6px;
    color: color.$app-green;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 14px;
}

.btn-login:hover {
    background: color.$app-green;
    border-color: color.$app-green;
    color: color.$app-black;
}

.header-text {
    padding-top: 72px;
    padding-left: 8px;
    font-size: calc(28px + (56 - 28) * ((100vw - 560px) / (1600 - 560)));
    display: flex;
    align-items: center; /* align vertical */
}

@media (max-width:991.98px) {
    .header-text {
        padding-top: 48px;
    }
}

@media (max-width:767.98px) {
    .header-text {
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; /* align horizontal */
    }
}

.list-margin {
    margin-top: calc(32px + (48 - 32) * ((100vw - 768px) / (1600 - 768)));
}

@media (max-width:767.98px) {
    .list-margin {
        margin-top: 8px;
    }
}

.list-item {
	border: 0;
    background: color.$app-gray;
    color: color.$app-green;
    font-size: 20px;
}

.text-box {
    overflow: auto;
    display: flex;
    align-items: center;
}

.img-left {
  float: left;
  margin-right: 12px;
}
