@use "color";

.col-centered{
    float: none;
    margin: 0 auto;
}

.navbar-text {
	color: color.$app-black;
}

body {
	background: color.$app-black;
	font-family: 'Ubuntu', sans-serif;
	color: color.$app-white;
}

.hamburger-btn {
    height: 3px;
    width: 22px;
    margin: auto;
    border-radius: 4px;
    background: color.$app-black;
    margin: 2px;
}

.pic-20 {
    width: 20%;
    height: auto;
}
