@use "color";

* { 
  padding: 0; 
  margin: 0; 
}

html {
  font-size: 1.5vw;
}

body {
  box-sizing: border-box;
  background: color.$load-black;
}

/* Positioning Bubble */
.bubble {
  position: absolute;
  height: 20rem;
  width: 20rem;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  overflow: visible;
  background: color.$load-white;
  border-radius: 50%;
}

/* Positioning dots in Page */
.bubble > div {
  position: absolute;
  top: 2.5rem; 
  left: 2.5rem;
  font-size: 1rem;
  height: 15rem;
  width: 15rem;
  transform-origin: center center;
}

/* Positioning dots in Page */
.bubble > div::before {
  position: absolute;
  left: calc(50% - .5em);
  display: block;
  content: '';
  height: 1em;
  width: 1em;
  border-radius: 50%;
}

/* Indiv Colors */
.bubble > div:nth-child(1)::before {
  background-color: color.$load-red; 
}
.bubble > div:nth-child(2)::before {
  background-color: color.$load-orange;
}
.bubble > div:nth-child(3)::before {
  background-color: color.$load-yellow;
}
.bubble > div:nth-child(4)::before {
  background-color: color.$load-green; 
}
.bubble > div:nth-child(5)::before { 
  background-color: color.$load-blue; 
}
.bubble > div:nth-child(6)::before { 
  background-color: color.$load-purple; 
}
.bubble > div:nth-child(7)::before { 
  background-color: color.$load-black; 
}

/* Circular Movement */
.bubble > div { 
  animation: loading-orbit 6s infinite linear;
}

/* Vertical Movement - Fade in/out */
.bubble > div::before { 
  animation: loading-orbit-before 2s infinite ease-in-out;
}