@use "color";

.login-box {
    margin-top: calc(8px + (140 - 8) * ((100vw - 520px) / (1600 - 520)));
    height: auto;
    background: color.$app-gray;
    border-radius: 22px;
    text-align: center;
    box-shadow: 0;
}

.login-icon {
    margin-top: 18px;
}


.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: bold;
    color: color.$app-white;
}

.login-form {
    margin-top: 20px;
    text-align: left;
}

.form-field {
    background-color: color.$app-gray;
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border-bottom: 2px solid color.$app-green;
    border-radius: 0px;
    font-weight: bold;
    padding-left: 0px;
    margin-bottom: 36px;
    color: color.$app-white;
}

.form-field:focus {
    border-bottom: 2px solid color.$app-green;
    box-shadow: none;
    outline: 0;
    background-color: color.$app-gray;
    color: color.$app-white;
}

.form-control-label {
    font-size: 11px;
    color: color.$app-white;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-button {
    float: right;
    text-align: right;
    margin-bottom: 26px;
}

.btn-login {
    background: color.$app-gray;
    border-color: color.$app-green;
    border-radius: 6px;
    color: color.$app-green;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-login:hover {
    background: color.$app-green;
    border-color: color.$app-green;
    color: color.$app-black;
}

.login-link:link {
    color: color.$app-link;
}

.login-link:visited {
    color: color.$app-link-visited;
}

.login-link:hover {
    color: color.$app-link-visited;
}

.login-redirects {
    color: color.$app-white;
    text-align: center;
    float: center;
    margin-bottom: 24px;
}


.login-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: color.$app-white;
    width: 13px;
    height: 13px;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
}

.login-checkbox:checked {
    background-color: color.$app-green;
    width: 13px;
    height: 13px;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
}

.login-checkbox:checked:after {
    content: '\2714';
    font-size: 14px;
    position: absolute;
    line-height: 0px;
    top: 6px;
    left: 0.5px;
    color: color.$app-black;
}