{% extends "bootstrap/base.html" %}


{% block title %}Band Fan{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='icons/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
{% endblock %}

{% block styles %}
{{ super() }}

{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default" style="background: #6ec878; border: none; border-radius: 0;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-toggle" aria-expanded="false" style="border: 0;">
                    <span class="sr-only" >Toggle navigation</span>
                    <div class="hamburger-btn"></div>
					<div class="hamburger-btn"></div>
					<div class="hamburger-btn"></div>
                </button>
                <a class="navbar-brand" style="color: #242224;" href="{{ url_for('main.index') }}">
                	Band-Fan <img src="{{ url_for('static', filename='icons/guitar-black.png') }}" style="display: inline-block;" width="28" height="28" alt="Icon">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-toggle">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.index') }}" style="color: #242224;">Home</a></li>
                    <li><a href="{{ url_for('main.info')}}" style="color: #242224;">Info</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}" style="color: #242224;">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('auth.settings') }}" style="color: #242224;">Settings</a></li>
                    <li><a href="{{ url_for('auth.logout') }}" style="color: #242224;">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}


{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
	<div class="row">
		<div class="alert alert-warning">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			{{ message }}
		</div>
	</div>
	{% endfor %}

	{% block page_content %}{% endblock %}
</div>
{% endblock %}


